<html lang="pt-BR" data-bs-theme="{{#if (eq theme 'dark')}}dark{{else}}light{{/if}}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>

    <meta content="{{title}}" property="og:title" />
    <meta content="Botijela Dashboard" property="og:description" />
    <meta content="{{link}}" property="og:url" />
    <meta content="/img/botijela.png" property="og:image" />
    <meta content="#8d3ca2" data-react-helmet="true" name="theme-color" />

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="BotiJela" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">

    <style>
        #themeToggle {
            position: absolute;
            border: none;
            top: 10px;
            right: 10px;
            padding: 7px;
            z-index: 1050;
        }

        #themeToggle:hover {
            background-color: rgba(100, 100, 100, 230);
        }

        .btn-twitch {
            background-color: #9146FF;
        }
    </style>
</head>

<body data-theme="{{#if (eq theme 'dark')}}dark{{else}}light{{/if}}">
    <div class="container">
        <div class="row justify-content-center align-items-center vh-100">
            <div class="col-md-4">
                <h2 class="text-center mb-4">{{t 'login.access' }}</h2>
                <div class="card">
                    <div class="card-body">
                        <h5>{{t 'login.to_login'  }}</h5>
                        <p>{{t 'login.message'  }}</p>
                        <a class="btn btn-twitch" href="/auth/general"><i class="bi bi-twitch"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button type="button" id="themeToggle" class="btn btn-outline-{{#if (eq theme 'dark')}}light{{else}}dark{{/if}}">
        <i class="bi {{#if (eq theme 'dark')}}bi-moon{{else}}bi-sun{{/if}}"></i>
    </button>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/shared.js"></script>
</body>

</html>