<html lang="pt-BR" data-bs-theme="{{#if (eq theme 'dark')}}dark{{else}}light{{/if}}">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{title}}</title>

  <meta content="{{title}}" property="og:title" />
  <meta content="Botijela Dashboard" property="og:description" />
  <meta content="{{link}}" property="og:url" />
  <meta content="/img/botijela.png" property="og:image" />
  <meta content="#8d3ca2" data-react-helmet="true" name="theme-color" />

  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="BotiJela" />
  <link rel="manifest" href="/favicon/site.webmanifest" />

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
  <link rel="stylesheet" href="/css/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/styles.css">

  <style>
    .language-switch>a>img {
      margin-top: -5px;
    }

    .btn-twitch {
      background-color: #9146FF;
    }
  </style>
</head>

<body>
  <header>
    <nav class="navbar fixed-top navbar-expand-lg">
      <div class="container-fluid">
        <div class="d-flex flex-grow-1">
          <a class="navbar-brand" href="#">Botijela</a>
          <ul class="navbar-nav d-flex flex-row gap-2 mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link {{#if (eq activePage 'login')}}active{{/if}}" {{#if (eq activePage 'login' )}}
                aria-current="page" {{/if}} href="/">Login</a>
            </li>
            {{!-- <li class="nav-item">
              <a class="nav-link{{#if (eq activePage 'docs')}}active{{/if}}" {{#if (eq activePage 'docs' )}}
                aria-current="page" {{/if}} href="/docs">Docs</a>
            </li> --}}
          </ul>
        </div>
        <div class="d-flex align-items-end">
          <button type="button" id="themeToggle"
            class="btn btn-outline-{{#if (eq theme 'dark')}}light{{else}}dark{{/if}} me-2">
            <i class="bi {{#if (eq theme 'dark')}}bi-moon{{else}}bi-sun{{/if}}"></i>
          </button>
          <div class="dropdown language-switch">
            <a class="nav-link dropdown-toggle" href="#" id="changeLanguage" role="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              {{#if (eq resolvedLanguage 'pt' )}}
              <img src="/img/br.png" class="language-flag" alt="Português">
              {{else if (eq resolvedLanguage 'en')}}
              <img src="/img/eua.png" class="language-flag" alt="English">
              {{else}}
              <img src="/img/es.png" class="language-flag" alt="Español">
              {{/if}}
            </a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="changeLanguage">
              {{#each (array
              (object "code" "pt" "img" "/img/br.png" "label" "Português")
              (object "code" "en" "img" "/img/eua.png" "label" "English")
              (object "code" "es" "img" "/img/es.png" "label" "Español")
              )}}
              <li>
                <a href="#" class="lang-switch dropdown-item{{#if (eq ../resolvedLanguage this.code)}} disabled{{/if}}"
                  data-lang="{{this.code}}" title="{{this.label}}">
                  <img src="{{this.img}}" class="language-flag" alt="{{this.label}}">
                  {{this.label}}
                </a>
              </li>
              {{/each}}
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </header>
  <main>
    {{{body}}}
  </main>
  {{#if toasts}}
  <div class="toast-container position-fixed bottom-0 end-0 p-3" style="z-index: 1100;">
    {{#each toasts}}
    <div class="toast align-items-center text-bg-{{this.type}} border-0 mb-2" role="alert" aria-live="assertive"
      aria-atomic="true" data-toast-id="{{this.id}}">
      <div class="d-flex">
        <div class="toast-body">
          {{this.message}}
        </div>
        <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"
          aria-label="Close"></button>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}

  <script src="/js/bootstrap.bundle.min.js"></script>
  <script src="/js/jquery.min.js"></script>
  <script src="/js/shared.js"></script>
  <script>
    window.translations = {
      'kofi.support_me': '{{t "kofi.support_me"}}',
    };
  </script>
  <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
  <script>
    kofiWidgetOverlay.draw('botijela', {
      'type': 'floating-chat',
      'floating-chat.donateButton.text': t("kofi.support_me"),
      'floating-chat.donateButton.background-color': '#794bc4',
      'floating-chat.donateButton.text-color': '#fff'
    });
  </script>
</body>

</html>