<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="{{#if (eq theme 'dark')}}dark{{else}}light{{/if}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <meta content="{{title}}" property="og:title" />
    <meta content="Botijela Dashboard" property="og:description" />
    <meta content="{{link}}" property="og:url" />
    <meta content="/img/botijela.png" property="og:image" />
    <meta content="#8d3ca2" data-react-helmet="true" name="theme-color" />

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="BotiJela" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">

    <style>
        #sidebarCollapse,
        #themeToggle {
            position: revert;
            border: none;
            padding: 4px 8px;
            z-index: 1050;
        }

        #themeToggle:hover {
            background-color: var(--btn-background-color);
        }

        .dropdown-menu {
            max-height: 200px;
            overflow-y: auto;
        }

        .dropdown-pfp {
            margin-right: 5px;
            max-width: 25px;
            border-color: #6c757d;
            border-style: solid;
            border-width: 2px;
        }

        @supports (scrollbar-color: auto; ) {
            * {
                scrollbar-color: hsl(0, 0%, 60%) var(--bg-color);
                scrollbar-width: thin;
            }
        }

        ::-webkit-scrollbar {
            width: .5em;
            width: .5em;
        }

        ::-webkit-scrollbar-thumb {
            background: hsl(0, 0%, 60%);
            border: .1em solid var(--bg-color);
            border-radius: 100vw;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: hsl(0, 0%, 50%)
        }
    </style>
</head>

<body data-theme="{{#if (eq theme 'dark')}}dark{{else}}light{{/if}}">
    <div class="wrapper d-flex w-100">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="p-3">
                <h4 class="mb-3">Botijela</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq activePage 'home')}}active{{/if}}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq activePage 'queue')}}active{{/if}}" href="/queue">Filas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq activePage 'options')}}active{{/if}}" href="/options">Opções</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <div id="content">
            <header>
                <nav class="navbar navbar-expand-lg">
                    <div class="container-fluid">
                        <button type="button" id="sidebarCollapse"
                            class="btn btn-outline-{{#if (eq theme 'dark')}}dark{{else}}light{{/if}}">
                            <i class="bi bi-layout-sidebar"></i>
                        </button>
                        <button type="button" id="themeToggle"
                            class="btn btn-outline-{{#if (eq theme 'dark')}}dark{{else}}light{{/if}}">
                            <i class="bi {{#if (eq theme 'dark')}}bi-moon{{else}}bi-sun{{/if}}"></i>
                        </button>
                        <div class="collapse navbar-collapse justify-content-end">
                            <ul class="navbar-nav">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" id="channelToManage" role="button"
                                        data-bs-toggle="dropdown" aria-expanded="false">
                                        {{managing.displayName}}
                                    </a>
                                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="channelToManage">
                                        {{#each manageable}}
                                        <li>
                                            <a href="#" class="dropdown-item"><img class="dropdown-pfp rounded-circle"
                                                    src="{{this.profilePictureUrl}}"
                                                    alt="{{this.name}}'s Profile Picture"
                                                    style="{{#if this.isLive}}border-color: red;{{/if}}">
                                                {{this.name}}
                                            </a>
                                        </li>
                                        {{/each}}
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>
            <main class="container-fluid mt-1">
                {{{body}}}
            </main>
        </div>

    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/shared.js"></script>
</body>

</html>