<!DOCTYPE html>
<html lang="pt-BR" data-bs-theme="{{#if (eq theme 'dark')}}dark{{else}}light{{/if}}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>

    <meta content="{{title}}" property="og:title" />
    <meta content="Botijela Dashboard" property="og:description" />
    <meta content="{{link}}" property="og:url" />
    <meta content="/img/botijela.png" property="og:image" />
    <meta content="#8d3ca2" data-react-helmet="true" name="theme-color" />

    <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="BotiJela" />
    <link rel="manifest" href="/favicon/site.webmanifest" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/bootstrap-icons.css">
    <link rel="stylesheet" href="/css/styles.css">

    <style>
        #sidebar {
            position: fixed;
            top: 0;
            left: 0;
            height: 100%;
            width: 250px;
            background-color: #1e1e1e;
            color: #e0e0e0;
            transform: translateX(0);
            transition: transform 0.3s ease;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        }

        #sidebar.collapsed {
            transform: translateX(-250px);
            box-shadow: none;
        }

        #sidebar a {
            color: #e0e0e0;
            text-decoration: none;
            border-radius: 12px;
            margin-bottom: 3px;
        }

        #sidebar .nav-link.active {
            background-color: #333;
        }

        #sidebar .nav-link:not(.active):hover {
            background-color: #2a2a2a;
        }


        #sidebarCollapse {
            position: absolute;
            border: none;
            padding: 4px 8px;
            top: 10px;
            left: 260px;
            z-index: 1050;
            transform: translateX(0);
            transition: transform 0.3s ease;
        }

        #sidebarCollapse:hover {
            background-color: rgba(100, 100, 100, 230);
        }

        #sidebarCollapse.shift {
            transform: translateX(-250px);
        }

        #themeToggle {
            position: absolute;
            border: none;
            padding: 4px 8px;
            top: 10px;
            left: 295px;
            z-index: 1050;
            transform: translateX(0);
            transition: transform 0.3s ease;
        }

        #themeToggle:hover {
            background-color: rgba(100, 100, 100, 230);
        }

        #themeToggle.shift {
            transform: translateX(-250px);
        }

        header {
            box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
            min-height: 70px;
        }

        #content {
            margin-left: 250px;
            transition: margin-left 0.3s ease;
            flex-grow: 1;
            position: relative;
            z-index: 1;
        }

        #content.shift {
            margin-left: 0;
        }

        main {
            padding: 20px;
        }

        @media (max-width: 768px) {
            #sidebar {
                width: 100%;
                transform: translateX(0);
            }

            #sidebar.collapsed {
                transform: translateX(-100%);
            }

            #content.shift {
                margin-left: 0;
            }

            #showSidebar {
                display: block;
            }
        }
    </style>
</head>

<body>
    <div class="wrapper d-flex w-100">
        <!-- Sidebar -->
        <nav id="sidebar">
            <div class="p-3">
                <h4 class="mb-3">Botijela</h4>
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq activePage 'home')}}active{{/if}}" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq activePage 'queue')}}active{{/if}}" href="/queue">Filas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{#if (eq activePage 'options')}}active{{/if}}" href="/options">Opções</a>
                    </li>
                </ul>
            </div>
        </nav>

        <!-- Main content -->
        <div id="content">
            <main class="container-fluid mt-4">
                {{{body}}}
            </main>
        </div>
        <button type="button" id="sidebarCollapse"
            class="btn btn-outline-{{#if (eq theme 'dark')}}light{{else}}dark{{/if}}">
            <i class="bi bi-layout-sidebar"></i>
        </button>
        <button type="button" id="themeToggle"
            class="btn btn-outline-{{#if (eq theme 'dark')}}light{{else}}dark{{/if}}">
            <i class="bi {{#if (eq theme 'dark')}}bi-moon{{else}}bi-sun{{/if}}"></i>
        </button>
    </div>

    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/shared.js"></script>
</body>

</html>